/* Allgemein */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 20px;
}

header h1, footer p {
    margin: 0;
}

header a {
    color: #fff;
    text-decoration: none;
}

/* Navigation */
nav a {
    display: inline-block;
    margin-right: 15px;
    padding: 6px 12px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s;
}

nav a:hover {
    background-color: #2980b9;
}

/* Container */
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Listen */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

/* Movie-Liste */
.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 0;
    list-style: none;
}

.movie-list li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.movie-list li:hover {
    transform: scale(1.05);
}

.movie-list img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Buttons Movie-Liste */
.movie-list button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}

.movie-list button:hover {
    background-color: #c0392b;
}

/* Formulare */
form input[type="text"] {
    padding: 5px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button[type="submit"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #3498db;
    color: #fff;
}

/* Überschriften */
h1, h2, h3 {
    color: #2c3e50;
}
/* Abstand Navigation zum Cover */
nav {
    margin-bottom: 10px;
}

/* Buttons in Movie Details */
.movie-detail-buttons {
    margin-top: 20px;
}

.movie-detail-buttons form button {
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Delete-Button Details */
#delete-btn {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}





