<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    {% extends "base.html" %}

{% block content %}
<h1>Users</h1>

<ul class="user-list">
    {% for user in users %}
    <li style="margin-bottom: 10px;">
        <div style="display: flex; align-items: center; gap: 10px;">
            <!-- Button Filmliste User -->
            <form action="{{ url_for('user_movies', user_id=user.id) }}" style="margin: 0;">
                <button type="submit">{{ user.name }}</button>
            </form>

            <!-- Delete-Form -->
            <form method="POST" action="{{ url_for('delete_user', user_id=user.id) }}" style="margin: 0;">
                <button type="submit" style="background-color: #e74c3c; color: #fff; border-radius: 5px; padding: 5px 10px;">Delete</button>
            </form>
        </div>
    </li>
    {% endfor %}
</ul>

<h2>Add New User</h2>
<form action="{{ url_for('add_user') }}" method="post">
    <input type="text" name="name" placeholder="User Name" required>
    <button type="submit">Add User</button>
</form>
{% endblock %}

</body>
</html>
